@using System.Threading.Tasks
@using LykkeMarketMakers.Web.Translates
@{
    Layout = null;
}

<div class="checkout" style="width: 555px; margin-top: 20px;">
    <h2 style="margin-bottom: 20px;">@Phrases.AccessDenied</h2>
    <div>
        @Phrases.AccessDeniedToRequestedPage
    </div>
</div>
