@using System.Threading.Tasks
@using LykkeMarketMakers.Web.Models.ViewComponentsViewModels
@using LykkeMarketMakers.Web.Translates
@using LykkeMarketMakers.Web.ViewComponents

@{
    Layout = null;
}

<div class="checkout" style="width: 555px; margin-top: 20px;">
    <h2 style="margin-bottom: 20px;">@Phrases.PleaseTypeYourNewPassword</h2>
    <form id="frmMyPswd">
        @await Component.InvokeAsync(nameof(InputWithLabelOnTop), new { model = new InputWithLabelModel {Name = "NewPassword", Caption = Phrases.NewPassword, Placeholder = Phrases.NewPassword, Type = "password"} })
        @await Component.InvokeAsync(nameof(InputWithLabelOnTop), new { model = new InputWithLabelModel {Name = "PasswordConfirmation", Caption = Phrases.NewPassword, Placeholder = Phrases.NewPassword, Type = "password", HasFocus = true} })
    </form>
    <div style="text-align: right;">
        <button id="btnChangePassword" class="btn btn-success btn-raised"
                onclick="Requests.doRequest({ url: '@Url.Action("ChangeMyPassword")', formId: '#frmMyPswd' })">
            <span class="hideOnRequest glyphicon glyphicon-pencil"></span>
            <img class="showOnRequest" src="~/Images/processing.gif" style="display: none" /> @Phrases.ChangeTheAccessPassword
        </button>
    </div>
</div>
